body {
	font-family: 'Playfair Display', sans-serif;

	img {
		width: 100%;
	}

	.wrapper {
		margin: 15px;
		display: flex;
    x-justify-content: space-around;
    x-align-items: stretch;
    max-width: 1800px;
	}

	.row {
  	display: flex;
  	flex-direction: row;
  	flex-wrap: wrap;
  	width: 100%;
	}

	.column {
  	display: flex;
  	flex-direction: column;
  	flex-basis: 100%;
  	flex: 1;
	}

	.left-column {
		width: 100%;
		padding-top: 11.5em;
		padding-left: 2.5em;
	}

	.right-column {
		float: right;
		width: 400px;
    flex: 0 0 400px;
    border-left: 1px;
		padding-top: 4em;
	}
}

h1 {
	font-family: 'Playfair Display', sans-serif;
	color: #000;
	line-height: 43px;
	font-weight: 400;
}


.hero-nav-text {

}


/* Font Styles */
/*
h1 {
  font-family: Futura, Trebuchet MS, Arial, sans-serif;
  color: #df678c;
  font-size: 100px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 5px; }*/

h2 {
  font-family: Futura, Trebuchet MS, Arial, sans-serif;
  color: #df678c;
  font-size: 100px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 5px; }

h3 {
	display: block;
		flex-direction: column;
		margin-top: 0px;
		margin-bottom: 0px;
		padding-bottom: 0px;
		color: #000;
		font-size: 12px;
		text-align: right;
		text-decoration: none;
		text-transform: none;
		line-height: 44px;
	float: right;
}

p {
  font-family: Futura, Trebuchet MS, Arial, sans-serif;
  color: white;
  font-size: 24px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 2px; }

/* default link styles, top nav and content */
a {

	flex-direction: column;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-bottom: 0px;
	color: #000;
	font-size: 54px;
	text-align: right;
	text-decoration: none;
	text-transform: none;
	line-height: 60px;
	font-weight: 700;
	cursor: pointer;
	float: right;
}

a:link {color: #12232E;}
a:visited {color: #12232E;}
a:hover {color: #f44336;}
a:active {color: #f44336;}

/* all other links on page PLUS top navigation */
a.nav:hover, a.nav:active {
  background-color: #df678c;
  color: white;
  box-shadow: 5px 10px white;
}

/* Main menu */




a.nav:link, a.nav:visited {
  padding: 14px 25px 14px 25px;
  text-decoration: none;

}



ul li {
  list-style-type: none;
}
